{%extends "layout.html"%}

{%block content %}
    <br>
    <form action="/upload_file" method="POST" enctype="multipart/form-data">
        <label for=""><strong>อัพโหลดไฟล์ (.txt) <font color="blue">กี่ไฟล์ก็ได้</font></strong></label>
        <input type="file" name="file_name" multiple>
        <input type="submit" value="ยืนยัน">
    </form>
    <p><strong>*กด ctrl ค้างแล้วเลือกไฟล์ได้เลย*</strong></p>
    <hr>
    <form action="/search_word" method="POST" enctype="multipart/form-data">
        <label for=""><strong>ค้นหาคำในเอกสาร</strong></label>
        <input type="text" name="key_word" multiple>
        <input type="submit" value="ค้นหา">
    </form>
    <hr>
    {% if bool_search == True %}
        <h3>คำที่คุณค้นหา <strong>{{key_word}}</strong> <font color="green">พบคำนี้ในเอกสาร</font></h3>
        <hr>
    {% elif bool_search == False %}
        <h3>คำที่คุณค้นหา <strong>{{key_word}}</strong> <font color="red">ไม่ผมคำนี้ในเอกสาร</font></h3>
        <hr>
    {% endif %}
    <h4>TOP 5 TYPE BOW</h4>
    <ol>
        {% for word_id, word_count in top_word %}
            <li>{{dictionary.get(word_id)}} พบ {{word_count}} </li>
        {% endfor %}
    </ol>
    <hr>
    <h4>TOP 5 TYPE TF IDF</h4>
    <ol>
        {% for i in top_tfidf %}
            <li> {{i}} </li>
        {% endfor %}
    </ol>
{%endblock%}